* {
  transition: 0.2s;
}

.home {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.home span {
  color: red;
}

button {
  text-decoration: none;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("./daniel-mirlea-WGdliLPgMaA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

header .title {
  font-size: 30px;
  padding: 20px;
  margin: 0px;
  font-weight: 700;
}

header .button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #00000060;
  border: 0;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.form {
  width: 45%;
  height: auto;
  margin: 0 auto;
  margin-top: 6%;
  padding: 30px;
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #00000060;
}

.form h1 {
  font-size: 28px;
  color: whitesmoke;
}

.form p {
  font-size: large;
  color: whitesmoke;
}

.form div {
  margin-top: 25px;
}

.form input {
  width: 80%;
  padding: 20px;
  font-size: 20px;
  font-style: italic;
  border: 0;
  border-bottom: 2px solid #fff;
  background: #ffffff00;
  color: #fff;
}

.form .button {
  width: 50%;
  margin-top: 25px;
  padding: 10px 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 15px;
  background-color: #00000060;
}
