* {
    transition: 0.2s;
}

a {
    text-decoration: none
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../img/daniel-mirlea-WGdliLPgMaA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .title {
    font-size: 30px;
    padding: 20px;
    margin: 0px;
    font-weight: 700;
}

header .button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #00000060;
    border: 0;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}